.header-index {
	height: 100px;

	.search-area {
		padding: .5em;
	}
}

.input-search {
	width: 100%;
}

.menu-icon-seach {
	background-color: orange;
	color: #fff;
}

.btn-search-icon {
	background:transparent;
	border:none;
}

.index-main {
	height: auto;
	

	.section-related-itens {
		padding: .5em;

		.row-book {
			background-color: #fff;
			border-radius: 12px;
			height: auto;
			margin: .5em 0;
		}
	}
}
