.header-index {
	height: 145px;
}

.input-search {
	width: 100%;
}

.navegation-buttons {
	height	: 60px;
	.store, .wish-list, .offers {
		@include flex;
		height: 100%;
		text-align: center;

	}

	.button-store, .button-wish-list, .button-offers {
		@include flex;
		color: #fff;
		font-weight: bold;
	}
}

.index-main {
	height: auto;
	background-color: #d1d1d1;
	
	.section-call-to-login {
		background-color: #fff;
		padding: .5em;
		margin: .5em 0;
		.btn-call-to-login {
			width: 100%;
			color: #000;
		}
	}

	.section-offers {
		background-color: #fff;
		padding: .5em;

		.book-img {
			@include flex;
		}
	}
}
