@mixin flex {
	display: flex;
	align-items: center;
	justify-content: center;
}

.index-main {
	height: calc(100% - 82px);
	margin-top: 53px;
}

.book-img {
	img {
		height: 150px;
		width: 120px;
	}
}

.section_tecnology-books,  .section_entrepreneurship-books{
	title-section {
		margin-top: 1em;
	}

	.informacoes-do-livro {
		margin-top: 1em;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		.preco-sugerido {
			@include flex;
			flex-direction: column;
		}
	
	}
}

