.thanks-main {
	height: auto;
	background-color: #fff;
}

.msg-thanks {
	@include flex;
	height: 300px;
	width: 350px;
	background-color: rgba(250, 250, 250, .6);
	border-radius: 15px;
}

.box-total-items {
	background-color: lightgray;
	color: #000;
	font-weight: bold;
}