@import "default-variables";
@import "index";
@import "categorias";
@import "login";
@import "livro-informacao";
@import "carrinho";
@import "obrigado";

html,body {
	height: 100%;
	margin: 0;
	padding: 0;
	width: 100%;
}

header {
	height: 52px;
}

.navbar-invese {
	background-color: #232f3e;
}

.navbar-submenu {
	margin-top: 18px;
	position: absolute;
	right: 20px;
}

.logo-fcamara {
	color: #dd9933;
}

.menu-text, .menu-icon-login, .menu-icon-cart {
	color: #fff;
	margin-left: 1em;
}

.footer {
	@include flex;
	background-color: #000;
	height: 30px;
	position: absolute;
	width: 100%;

	.description-footer {
		color: #dd9933;
		text-align: center;	
	}
}


