@import "default-variables";
@import "index";
@import "categorias";
@import "login";
@import "livro-informacao";

html,body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}

header {
	height: 52px;
}

.navbar-invese {
	background-color: #232f3e;
}

.navbar-submenu {
	position: absolute;
	right: 20px;
	margin-top: 18px;
}

.logo-fcamara {
	color: orange;
}

.footer {
	background-color: #000;
	height: 30px;
	@include flex;
	position: absolute;
	width: 100%;

	.description-footer {
		color: orange;
		text-align: center;	
	}
}


