.header-index {
  height: 145px; }

.input-search {
  width: 100%; }

.navegation-buttons {
  height: 60px; }
  .navegation-buttons .store, .navegation-buttons .wish-list, .navegation-buttons .offers {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-align: center; }
  .navegation-buttons .button-store, .navegation-buttons .button-wish-list, .navegation-buttons .button-offers {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-weight: bold; }

.index-main {
  height: auto;
  background-color: #d1d1d1; }
  .index-main section {
    margin: .5em 0; }
  .index-main .section-call-to-login {
    background-color: #fff;
    padding: .5em; }
    .index-main .section-call-to-login .btn-call-to-login {
      width: 100%;
      color: #000; }
  .index-main .section-offers {
    background-color: #fff;
    padding: .5em; }
    .index-main .section-offers .book-img {
      display: flex;
      align-items: center;
      justify-content: center; }
  .index-main .section-related-itens {
    background-color: #fff;
    padding: .5em; }
  .index-main .section-book-discount {
    background-color: #fff;
    padding: .5em; }

.book-img img {
  height: 150px;
  width: 120px; }

.section_tecnology-books, .section_psicology-books, .section_entrepreneurship-books, .section_biograpies-books {
  height: auto;
  background-color: #fff;
  padding: 1em; }
  .section_tecnology-books .book-area, .section_psicology-books .book-area, .section_entrepreneurship-books .book-area, .section_biograpies-books .book-area {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; }

.section_tecnology-books title-section, .section_psicology-books title-section, .section_entrepreneurship-books title-section, .section_biograpies-books title-section {
  margin-top: 1em; }
.section_tecnology-books .informacoes-do-livro, .section_psicology-books .informacoes-do-livro, .section_entrepreneurship-books .informacoes-do-livro, .section_biograpies-books .informacoes-do-livro {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 1em; }
  .section_tecnology-books .informacoes-do-livro .preco-sugerido, .section_psicology-books .informacoes-do-livro .preco-sugerido, .section_entrepreneurship-books .informacoes-do-livro .preco-sugerido, .section_biograpies-books .informacoes-do-livro .preco-sugerido {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; }

.login-main {
  height: calc(100% - 82px);
  background-color: #f6f6f6; }

.row-title-login {
  display: flex;
  align-items: center;
  justify-content: center; }
  .row-title-login .remember-password {
    margin-top: 10px; }

.square-input {
  height: 2.3rem;
  width: 2.3rem; }

.input-email, .input-senha {
  border-radius: 0;
  height: 50px; }

.show-password, .keep-me-connected {
  position: absolute;
  margin-top: -25px;
  left: 50px; }

.btn-fazer-login {
  width: 100%;
  color: #000;
  height: 3.5em;
  background: #f0c14b;
  border-color: #a88734 #9c7e31 #846a29;
  color: #111;
  margin: 3em 0; }

.btn-register {
  width: 100%;
  background: #f3f4f6;
  margin: 2em 0;
  color: #000;
  height: 3.5em;
  border-color: #bfbfbf; }

.row-legends {
  flex-direction: column;
  position: relative; }
  .row-legends .legend {
    text-align: center;
    margin-top: -24px; }
  .row-legends .aside-left, .row-legends .aside-right {
    width: 30%;
    border-bottom: 1px solid black; }

.information-book-main {
  height: calc(100% - 82px); }

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0; }

header {
  height: 52px; }

.navbar-invese {
  background-color: #232f3e; }

.navbar-submenu {
  position: absolute;
  right: 20px;
  margin-top: 18px; }

.logo-fcamara {
  color: orange; }

.footer {
  background-color: #000;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100%; }
  .footer .description-footer {
    color: orange;
    text-align: center; }

/*# sourceMappingURL=style.css.map */
